# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- Create markdown cells
- Create ordered and unordered lists
- Create tables
- Use of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Panda
3. Seaborn
4. Tensorflow
5. Numpy

|Data Science Tools|
|------------------|
| R Studio |
| Anaconda |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Namubiru Lydia